<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container p-4">
        <p class="text-white text-center mt-2">Designed and Developed by Paula Adel Malak</p>
        <p class="text-white text-center"> This Website is for practicing only</p>
        <p class="text-white text-center"> API from :
            <a class="btn btn-dark mb-2" target="_blank" href=" https://www.themoviedb.org/ ">The Movie Database (TMDb)</a>
        </p>
    </div>
</body>

</html>