<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center text-white font-italic py-4">Trending Movies Today</h1>
        <div class="row">
            <div class=" col-lg-3 text-center py-3" *ngFor="let m of allMovies ">
                <div class="my-Movie ">
                    <div class="movie-poster ">
                        <img class="img-fluid " [src]="myPoster+m.poster_path ">
                    </div>
                    <div class="movie-info text-light ">
                        <h4>{{m.title}}</h4>
                        <p>{{m.overview}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>